<!doctype html>
<html lang="en">
  <head>
    <title>Skeleton</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css"/>
  </head>
  <a href="skeleton">&#8592 home</a>
  <body class="bg-light" style="background: linear-gradient(white, lightblue);">
    <div class="container-fluid">
      <div class="py-5 text-center">
        <h2>Skeleton</h2>
      </div>
      <div class="row" style="min-height: 666px;">
        <div class="col-md-4 mb-4">
          <div class="aside">
            <div class="aside__img" style="width:100%; height:100%; background-image: url(screenshot.png); outline: 1px solid gray;"></div>
          </div>
        </div>
        <div class="col-md-8">
          <h4 class="mb-3">Screen Objects:</h4>
          <div class="content" id="content" style="max-height: 666px; overflow-y: auto;">
            <pre><code><%= @screen_objects %></code></pre>
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="mb-3">Elements Tree:</h4>
          <div class="content" id="content">
            <pre><code><%= @elements_tree %></code></pre>
          </div>
        </div>
      </div>
      <footer class="my-2 pt-5 text-muted text-small">
        <p class="mb-1 text-center">© 2018 <a href="https://github.com/alter-al">alter-al</a></p>
        <p class="mb-1 text-right"><a href="https://github.com/alter-al/skeleton/releases/tag/<%= @build_version %>"><%= @build_version %></a></p>
      </footer>
    </div>
  </body>
</html>