<!doctype html>
<html lang="en">
  <head>
    <title>Skeleton</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css"/>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Skeleton</h2>
      </div>
      <div class="row" style="min-height: 666px;">
        <div class="col-md-4 mb-4">
          <div class="aside" style="max-height: 666px;">
            <div class="aside__img" style="background-image: url(screenshot.png);"></div>
          </div>
        </div>
        <div class="col-md-8">
          <h4 class="mb-3">Page Objects:</h4>
          <div class="content" id="content">
            <pre><code><%= @pageobject %></code></pre>
          </div>
          <br>
          <h4 class="mb-3">Elements Tree:</h4>
          <div class="content" id="content">
            <pre><code><%= @elements_tree %></code></pre>
          </div>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2018-2033 forqa</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>